{{ define "main" }}
<div class="notes-scroll-area" style="padding-top: var(--hdr-h);">
    <div class="notes-reading">

      {{ partial "page-avatar.html" . }}
      <h1 class="note-title">{{ .Title }}</h1>
      {{ if .Params.updated }}<p class="sp-updated">Updated {{ .Params.updated }}</p>{{ end }}

      <div class="sp-text">{{ .Content }}</div>

      {{ if .Params.footer }}<p class="sp-footer">{{ .Params.footer | markdownify }}</p>{{ end }}

    </div>
    {{ partial "site-footer.html" . }}
</div>
{{ end }}
